# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = spider20.settings

[deploy]
url = http://188.245.190.37:6800/
username = admin
password = Babyshark2001!
project = spider20
